body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #666666;
	line-height: 30px;
}
a {
	text-decoration: none!important;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

a.filled-button {
	background-color: rgb(36 106 175);
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}

a.filled-button:hover {
	background-color: #fff;
	color: rgb(36 106 175);
}

a.border-button {
	background-color: transparent;
	color: #fff;
	border: 2px solid #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px 28px;
	border-radius: 30px;
	display: inline-block;
	transition: all 0.3s;
}

a.border-button:hover {
	background-color: #fff;
	color: rgb(36 106 175);
}

.section-heading {
	text-align: center;
	margin-bottom: 80px;
}

.section-heading h2 {
	font-size: 36px;
	font-weight: 600;
	color: #1e1e1e;
}

.section-heading em {
	font-style: normal;
	color: rgb(36 106 175);
}

.section-heading span {
	display: block;
	margin-top: 15px;
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
	letter-spacing: 1px;
}


/* Header Style */
.container-fluid{
	max-width:1320px !important;
}
.navbar-nav.right-justify {
    margin-left: auto;
}
.navbar-nav.right-justify.nav-item {
    margin-left: 10px;
}
header {
	position: absolute;
	z-index: 99999;
	width: 100%;
	background-color:transparent !important;
	height: 80px;
	-webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header::before{
	opacity: 0.3;
}
header .navbar {
	padding: 20px 75px !important;
}
.navbar-nav.nav-item.nav-link:hover{
	color:rgb(36 106 175) !important;
	border-bottom: 3px solid rgb(36 106 175) !important;
}
.navbar .navbar-brand {
	float: 	left;
	margin-top: 12px;
	outline: none;
	margin-left: 60px;
}
#navbarResponsive {
	z-index: 999;
}
.navbar-collapse {
	text-align: center;
}
.navbar .navbar-nav .nav-item {
	margin: 0px 15px;
}
.nav-link:hover{
	color:rgb(36 106 175) !important;
	border-bottom: 3px solid rgb(36 106 175) !important;
}
.navbar .navbar-nav a.nav-link {
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 0.5px;
	color:black;
	transition: all 0.5s;
	margin-top: 5px;
	font-weight: bold;
}


.navbar .navbar-toggler-icon {
	background-image: none;
}
.navbar .navbar-toggler {
	border-color: #fff;
	background-color: #fff;	
	height: 36px;
	outline: none;
	border-radius: 0px;
	position: absolute;
	right: 30px;
	top: 20px;
}
.navbar .navbar-toggler-icon:after {
	content: '\f0c9';
	color: rgb(36 106 175);
	font-size: 18px;
	line-height: 26px;
	font-family: 'FontAwesome';
}


.dropdown-item{
	color: black;
}
.btn{
	border-color: rgb(36 106 175) !important;
	color: rgb(36 106 175) !important;
	border-radius: 5px !important;
}
.btn:hover{
	background-color: rgb(36 106 175);
	color: #ffff;
}
.btn:active, .btn.show{
	background-color: rgb(36 106 175) !important;
}
.logo{
	width:145px;
	height: 68px;
	margin: -19px;
}
